version: "3.9"
services:
  # Database for local dev deployments
  db-dev:
    profiles: [ dev ]
    image: "postgres:15.4-alpine3.18"
    container_name: "${COMPOSE_PROJECT_NAME}-db-dev"
    hostname: db-dev
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DB_DEV_USER}
      - POSTGRES_PASSWORD=${DB_DEV_PASS}
      - POSTGRES_DB=${DB_DEV_NAME}
    ports:
      - "${DB_DEV_PORT}:5432"
    volumes:
      - db-dev-data:/var/lib/postgresql/data

  # Database for automated integrations tests
  db-it:
    profiles: [ it ]
    image: "postgres:15.4-alpine3.18"
    container_name: "${COMPOSE_PROJECT_NAME}-db-it"
    hostname: db-it
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DB_IT_USER}
      - POSTGRES_PASSWORD=${DB_IT_PASS}
      - POSTGRES_DB=${DB_IT_NAME}
    ports:
      - "${DB_IT_PORT}:5432"
    volumes:
      - db-it-data:/var/lib/postgresql/data

  # SMTP server for automated integration tests
  mailpit:
    profiles: [ dev, it ]
    image: "axllent/mailpit:v1.9.10"
    container_name: "${COMPOSE_PROJECT_NAME}-mailpit"
    hostname: "mailpit"
    restart: unless-stopped
    ports:
      - "1025:1025"
      - "8025:8025"
    environment:
      - TZ="Europe/Berlin"

  hub:
    profiles: [ e2e ] # TODO should we really add profiles to the services? I love it if docker compose up is just working for local setup
    image: selenium/hub:4.15.0-20231102
    container_name: "${COMPOSE_PROJECT_NAME}_selenium_hub" # TODO If we put default values to the env vars we also lose the --env parameter and after renaming it to docker-compose.yaml we can just do docker compose up -d
    restart: always
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"

  chrome:
    profiles: [ e2e ]
    image: selenium/node-chrome:104.0
    restart: always
    shm_size: 1gb
    deploy:
      replicas: 1
    depends_on:
      - hub
    environment:
      - SE_NODE_PORT=4444
      - SE_EVENT_BUS_HOST=hub
      - SE_NODE_MAX_SESSIONS=5
      - SE_VNC_NO_PASSWORD=1
      # other value than true requires scraping in headless mode
      - SE_START_XVFB=false
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      # forcing lang by below props
      # Details: https://bugs.chromium.org/chromium/issues/detail?id=19491
      - LANG=de_DE.UTF-8
      - LANGUAGE=de_DE
      - LC_CTYPE=de_DE.UTF-8

volumes:
  db-dev-data:
  db-it-data:
