<!doctype html>
<html class="no-js" lang="en" xmlns:wicket="http://wicket.apache.org">
<head>
  <meta charset="utf-8">
  <title>DenktMit Webapp - Home</title>

  <meta property="og:title" content="DenktMit eG Rechnomat">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">
  <link rel="icon" href="/img/denktmit-favicon.svg">

  <link rel="stylesheet" href="/css/webapp.min.css"/>
</head>
<body>
<header class="bg-color:dark-petrol">
  <div class="center">
    <nav class="cluster-spaced">
      <a href="/p/dashboard">
        <img src="/img/DenktMit-Logo.svg" alt="Das DenktMit eG Signet mit Firmenname"/>
      </a>
      <ul class="cluster-wrapped">
        <li>
          <a href="/@basePath/index.html" th:href="@{/}">Home</a>
        </li>
        <li>
          <a href="/@basePath/every-layout/index.html" th:href="@{/every-layout/index}">Every Layout</a>
        </li>
        <li>
          <a href="/@basePath/admin/users.html" th:href="@{/admin/users}">Admin/Users</a>
        </li>
        <li>
          <a href="/@basePath/user/logout.html" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<wicket:extend>
  <main>
    <div class="center">
      <wicket:child/>
    </div>
  </main>
</wicket:extend>
<footer class="bg-color:light-teal">
  <div class="center">
    <nav class="cluster-spaced">
      <p>
        &copy; 2024 DenktMit eG. All rights reserved. <br/>
        Contact: hallo@denktmit.de
      </p>
      <ul class="cluster-wrapped">
        <li><a href="/@basePath/fixed-content/legal-notice.html" th:href="@{/fixed-content/legal-notice}">Legal
          notice</a></li>
      </ul>
    </nav>
  </div>
</footer>
<script type="module" src="/js/webapp.min.js"></script>
</body>
</html>
