<!DOCTYPE html>
<html th:fragment="layout (sidebar, maincontent)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-language" content="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page with Sidebar</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/typographie.css" />
    <link rel="stylesheet" href="/css/utility.css" />
</head>
<body>
   <div class="side-wrapper">
       <aside class="sidebar" >
           <div class="sidebar-content-wrapper" th:replace="${sidebar}">
               <h2>EveryLayout</h2>
               <ul>
                   <li>Elements</li>
                   <li>Cluster</li>
                   <li>Sidebar</li>
               </ul>
           </div>
       </aside>
       <div class="content">
           <div class="center" th:replace="${maincontent}">
               <h1>The Center</h1>
               <p>
                   Tech' giants' whimsical usage of defunct elements aside, we mostly moved  away from using presentational
                   markup in the 2000s. By making styling the  responsibility of a separate technology—CSS—we were able to
                   manage style  and structure separately. Consequently, a change in art direction would no longer mean
                   reconstituting our content.
               </p>
           </div>
       </div>
   </div>
</body>
</html>