<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{__layouts/centered}"
      lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="icon" href="/img/favicon.svg">
    <link rel="stylesheet" href="/css/styles.min.css" th:href="@{/css/styles.min.css}"/>
</head>
<body>
<header class="bg-color:dark-petrol">
    <div class="center">
        <nav class="cluster-spaced">
            <img src="/img/logo.svg" alt="Das DenktMit eG Signet mit Firmenname"/>
            <ul class="cluster-wrapped">
                <li><a href="/static">Home</a></li>
                <li><a href="/every-layout/index.html">Every Layout</a></li>
                <li><a href="/admin/users.html">Admin/Users</a></li>
                <li><a href="/logout.html">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="center" layout:fragment="page-content">
        <hgroup>
            <h1 th:text="#{pages.acceptinvitation.title}">Password recovery</h1>
            <p th:if="${isTokenValid}"
               th:text="#{pages.acceptinvitation.tokensuccess.titledesc}">Please reset your password, you will be asked
                to log in afterward</p>
            <p th:unless="${isTokenValid}"
               th:text="#{pages.acceptinvitation.tokenfail.titledesc}">The token you provided seems invalid, please
                restart passwort recovery</p>
        </hgroup>
        <form action="#" th:if="${isTokenValid}" th:action="@{/invite-accept(token=${param.token})}" th:object="${passwordResetForm}" method="post">
            <label th:for="password" th:class="${#fields.hasErrors('password')}? fieldError">
                <span th:text="#{shared.namings.password}">Password</span>:
                <input th:type="password" th:field="*{password}" />
                <p th:if="${#fields.hasErrors('password')}"
                   th:text="${#strings.listJoin(#fields.errors('password'), ', ')}"
                   class="form-field-error"
                   id="password-error">password validation error message(s).</p>
            </label>
            <label th:for="passwordRepeated" th:class="${#fields.hasErrors('passwordRepeated')}? fieldError">
                <span th:text="#{shared.namings.passwordRepeat}">Repeat password</span>:
                <input th:type="password" th:field="*{passwordRepeated}" />
                <p th:if="${#fields.hasErrors('passwordRepeated')}"
                   th:text="${#strings.listJoin(#fields.errors('passwordRepeated'), ', ')}"
                   class="form-field-error"
                   id="passwordRepeated-error">passwordRepeated validation error message(s).</p>
            </label>
            <input type="reset" id="reset" name="reset" value="Reset" />
            <input type="submit" id="create" name="create" value="Create" />
        </form>
    </div>
</main>
<footer class="bg-color:light-teal">
    <div class="center">
        <nav class="cluster-spaced">
            <p>
                &copy; 2024 DenktMit eG. All rights reserved. <br/>
                Contact: hallo@denktmit.de
            </p>
            <ul class="cluster-wrapped">
                <li><a href="/templates/fixed-content/legal-notice.html">Legal notice</a></li>
            </ul>
        </nav>
    </div>
</footer>
</body>
</html>
