<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{__layouts/centered}"
      lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="icon" href="/img/favicon.svg">
    <link rel="stylesheet" href="/@css/webapp.css" th:href="@{/css/webapp.min.css}"/>
</head>
<body>
<header class="bg-color:dark-petrol">
    <div class="center">
        <nav class="cluster-spaced">
            <img src="/img/logo.svg" alt="Das DenktMit eG Signet mit Firmenname"/>
            <ul class="cluster-wrapped">
                <li><a href="/@basePath/index.html" th:href="@{/}">Home</a></li>
                <li><a href="/@basePath/every-layout/index.html" th:href="@{/every-layout/index}">Every Layout</a></li>
                <li><a href="/@basePath/admin/users.html" th:href="@{/admin/users}">Admin/Users</a></li>
                <li><a href="/@basePath/user/logout.html" th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="center" layout:fragment="page-content">
        <hgroup>
            <h1 th:text="#{pages.registration.title}">Registration</h1>
            <p th:text="#{pages.registration.titledesc}">Register a new user</p>
        </hgroup>
        <form action="#" th:action="@{/registration}" th:object="${registrationForm}" method="post">
            <label th:for="emailAddress" th:class="${#fields.hasErrors('emailAddress')}? fieldError">
                <span th:text="#{shared.namings.email}">E-Mail</span>:
                <input th:type="email" id="emailAddress" name="emailAddress" th:field="*{emailAddress}" />
                <p th:if="${#fields.hasErrors('emailAddress')}"
                   th:text="${#strings.listJoin(#fields.errors('emailAddress'), ', ')}"
                   class="form-field-error"
                   id="emailAddress-error">email validation error message(s).</p>
            </label>
            <label th:for="password" th:class="${#fields.hasErrors('password')}? fieldError">
                <span th:text="#{shared.namings.password}">Password</span>:
                <input th:type="password" th:field="*{password}" />
                <p th:if="${#fields.hasErrors('password')}"
                   th:text="${#strings.listJoin(#fields.errors('password'), ', ')}"
                   class="form-field-error"
                   id="password-error">password validation error message(s).</p>
            </label>
            <label th:for="passwordRepeated" th:class="${#fields.hasErrors('passwordRepeated')}? fieldError">
                <span th:text="#{shared.namings.passwordRepeat}">Repeat password</span>:
                <input th:type="password" th:field="*{passwordRepeated}" />
                <p th:if="${#fields.hasErrors('passwordRepeated')}"
                   th:text="${#strings.listJoin(#fields.errors('passwordRepeated'), ', ')}"
                   class="form-field-error"
                   id="passwordRepeated-error">passwordRepeated validation error message(s).</p>
            </label>
            <input type="reset" id="reset" name="reset" value="Reset" />
            <input type="submit" id="create" name="create" value="Create" />
        </form>
    </div>
</main>
<footer class="bg-color:light-teal">
    <div class="center">
        <nav class="cluster-spaced">
            <p>
                &copy; 2024 DenktMit eG. All rights reserved. <br/>
                Contact: hallo@denktmit.de
            </p>
            <ul class="cluster-wrapped">
                <li><a href="/@basePath/fixed-content/legal-notice.html" th:href="@{/fixed-content/legal-notice}">Legal notice</a></li>
            </ul>
        </nav>
    </div>
</footer>
<script type="module" src="/@ts/lib.ts" th:src="@{/js/webapp.min.js}"></script>
</body>
</html>
