<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{__layouts/centered}"
      lang="en">
<head>
    <meta charset="utf-8">
    <title>Registration successful</title>
    <link rel="icon" href="/img/favicon.svg">
    <link rel="stylesheet" href="/css/styles.min.css" th:href="@{/css/styles.min.css}"/>
    <th:block layout:fragment="html-head-additions">
        <meta http-equiv="refresh" content="5;url=/me">
    </th:block>
</head>
<body>
<header class="bg-color:dark-petrol">
    <div class="center">
        <nav class="cluster-spaced">
            <img src="/img/logo.svg" alt="Das DenktMit eG Signet mit Firmenname"/>
            <ul class="cluster-wrapped">
                <li><a href="/">Home</a></li>
                <li><a href="/every-layout/index.html">Every Layout</a></li>
                <li><a href="/admin/users.html">Admin/Users</a></li>
                <li><a href="/logout.html">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="center" layout:fragment="page-content">
        <hgroup>
            <h1 th:text="#{pages.registration.success.title}">Registration success</h1>
            <p th:text="#{pages.registration.success.titledesc}">You successfully registered on our webservice</p>
        </hgroup>
        <p>
        <p th:utext="#{pages.registration.success.longdesc(@{/me}, '5')}">You successfully registered on our webservice</p>
    </div>
</main>
<footer class="bg-color:light-teal">
    <div class="center">
        <nav class="cluster-spaced">
            <p>
                &copy; 2024 DenktMit eG. All rights reserved. <br/>
                Contact: hallo@denktmit.de
            </p>
            <ul class="cluster-wrapped">
                <li><a href="/templates/fixed-content/legal-notice.html">Legal notice</a></li>
            </ul>
        </nav>
    </div>
</footer>
</body>
</html>
