<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Webapp - Home</title>
    <link rel="icon" href="/img/favicon.svg">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="manifest" href="/misc/site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="stylesheet" href="/css/styles.min.css" th:href="@{/css/styles.min.css}"/>
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<header class="bg-color:dark-petrol">
    <div class="center">
        <nav class="cluster-spaced">
            <img src="/img/logo.svg" alt="Das DenktMit eG Signet mit Firmenname"/>
            <ul class="cluster-wrapped">
                <li><a href="/" th:href="@{/}" th:text="#{menus.main.home}">Home</a></li>
                <li><a href="/admin/users.html" th:href="@{/admin/users}" th:text="#{menus.main.admin}">Admin/Users</a></li>
                <li><a href="/every-layout/index.html" th:href="@{/every-layout}" th:text="#{menus.main.everylayout}">Every Layout</a></li>
                <li><a href="/legal-notice.html" th:href="@{/legal-notice}" th:text="#{menus.main.legalnotice}">Legal notice</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="center">
        <article>
            <hgroup>
                <h1 th:text="#{pages.admin.users.title}">Admin/Users</h1>
                <p th:text="#{pages.admin.users.titledesc}">Manage your application users</p>
            </hgroup>
            <table class="table" id="data-table" th:replace="~{__fragments/datatable :: frag_data_table(${dataTable})}">
                <thead>
                <tr>
                    <th>E-Mail</th>
                    <th>Disabled</th>
                    <th>Locked Until</th>
                    <th>Account Valid Until</th>
                    <th>Credentials Valid Until</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="selected">user1.johndoe@example.com</td>
                    <td>false</td>
                    <td>Wed, 1 Jan 1000 00:00:00 GMT</td>
                    <td>Wed, 1 Jan 3000 00:00:00 GMT</td>
                    <td>Wed, 1 Jan 3000 00:00:00 GMT</td>
                </tr>
                <tr>
                    <td>admin2.janesmith@example.com</td>
                    <td>false</td>
                    <td>Wed, 1 Jan 1000 00:00:00 GMT</td>
                    <td>Wed, 1 Jan 3000 00:00:00 GMT</td>
                    <td>Wed, 1 Jan 3000 00:00:00 GMT</td>
                </tr>
                <tr>
                    <td>creds_expired_user5.petergabriel@example.com</td>
                    <td>true</td>
                    <td>Wed, 1 Jan 1000 00:00:00 GMT</td>
                    <td>Wed, 1 Jan 3000 00:00:00 GMT</td>
                    <td>Wed, 1 Jan 1000 00:00:00 GMT</td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
</main>
<footer class="bg-color:light-teal">
    <div class="center">
        <p>
            &copy; 2024 DenktMit eG. All rights reserved. <br/>
            Contact: hallo@denktmit.de
        </p>
    </div>
</footer>
</body>
</html>
