<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{__layouts/centered}"
      lang="en">
<head>
    <meta charset="utf-8">
    <title>403 - Forbidden Knowledge</title>
    <link rel="icon" href="/img/favicon.svg">
    <link rel="stylesheet" href="/css/styles.min.css" th:href="@{/css/styles.min.css}"/>
</head>
<body>
<header class="bg-color:dark-petrol">
    <div class="center">
        <nav class="cluster-spaced">
            <img src="/img/logo.svg" alt="Das DenktMit eG Signet mit Firmenname"/>
            <ul class="cluster-wrapped">
                <li><a href="/">Home</a></li>
                <li><a href="/every-layout/index.html">Every Layout</a></li>
                <li><a href="/admin/users.html">Admin/Users</a></li>
                <li><a href="/logout.html">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="center" layout:fragment="page-content">
        <h1>Error 403 - Forbidden Knowledge</h1>
        <h2>You Have Trespassed into the Archives of Secrecy!</h2>
        <p>
            Halt, seeker of forbidden truths! Your presence in this digital sanctum has not gone unnoticed. The door
            to the sacred chambers of knowledge has slammed shut, and a decree of 403 echoes through the hallowed
            halls – Forbidden!
        </p>
        <p>
            By venturing beyond the boundaries set by the keepers of digital wisdom, you have aroused the suspicions
            of the Inquisitors of Access. Your quest for clandestine information has been deemed heretical, and the
            virtual gates have been sealed against your insatiable curiosity.
        </p>
        <p>
            Know this, daring trespasser: the archives you sought to breach contain secrets too potent for mortal
            comprehension. The forbidden fruits of this realm are guarded by algorithms steeped in the esoteric arts
            of access control. To pry beyond this point is to court the wrath of the digital inquisition.
        </p>
        <p>
            As you stand on the precipice of forbidden knowledge, ponder your actions. The Inquisitors of Access
            watch, their eyes glowing with the binary flame of vigilance. To proceed may lead to dire consequences.
            Turn back now, for the 403 is a warning inscribed in the code of caution. The forbidden realms are not
            meant for mortal eyes.
        </p>
        <p>
            May you heed this decree, lest the virtual inquisition casts its shadows upon your digital existence.
            The forbidden gates remain closed – respect the sanctity of the forbidden, and let not your curiosity
            be your undoing.
        </p>
    </div>
</main>
<footer class="bg-color:light-teal">
    <div class="center">
        <nav class="cluster-spaced">
            <p>
                &copy; 2024 DenktMit eG. All rights reserved. <br/>
                Contact: hallo@denktmit.de
            </p>
            <ul class="cluster-wrapped">
                <li><a href="/templates/fixed-content/legal-notice.html">Legal notice</a></li>
            </ul>
        </nav>
    </div>
</footer>
</body>
</html>