<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{__layouts/centered}"
      lang="en">
<head>
    <meta charset="utf-8">
    <title>4xx - Client error</title>
    <link rel="icon" href="/img/favicon.svg">
    <link rel="stylesheet" href="/css/styles.min.css" th:href="@{/css/styles.min.css}"/>
</head>
<body>
<header class="bg-color:dark-petrol">
    <div class="center">
        <nav class="cluster-spaced">
            <img src="/img/logo.svg" alt="Das DenktMit eG Signet mit Firmenname"/>
            <ul class="cluster-wrapped">
                <li><a href="/">Home</a></li>
                <li><a href="/every-layout/index.html">Every Layout</a></li>
                <li><a href="/admin/users.html">Admin/Users</a></li>
                <li><a href="/logout.html">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="center" layout:fragment="page-content">
        <h1>Error 4xx - Client error</h1>
        <h2>Something's not quite right...</h2>
        <p>Our digital autopsy doctor has examined the request and found it to be malformed, like a misbehaving zombie.</p>
        <p>Please check your URL or parameters and try again. If symptoms persist, contact our technical mortician.</p>
    </div>
</main>
<footer class="bg-color:light-teal">
    <div class="center">
        <nav class="cluster-spaced">
            <p>
                &copy; 2024 DenktMit eG. All rights reserved. <br/>
                Contact: hallo@denktmit.de
            </p>
            <ul class="cluster-wrapped">
                <li><a href="/templates/fixed-content/legal-notice.html">Legal notice</a></li>
            </ul>
        </nav>
    </div>
</footer>
</body>
</html>