<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{__layouts/centered}"
      lang="en">
<head>
    <meta charset="utf-8">
    <title>5xx - Hedonistic Overload</title>
    <link rel="icon" href="/img/favicon.svg">
    <link rel="stylesheet" href="/@css/webapp.css" th:href="@{/css/webapp.min.css}"/>
</head>
<body>
<header class="bg-color:dark-petrol">
    <div class="center">
        <nav class="cluster-spaced">
            <img src="/img/logo.svg" alt="Das DenktMit eG Signet mit Firmenname"/>
            <ul class="cluster-wrapped">
                <li><a href="/@basePath/index.html" th:href="@{/}">Home</a></li>
                <li><a href="/@basePath/every-layout/index.html" th:href="@{/every-layout/index}">Every Layout</a></li>
                <li><a href="/@basePath/admin/users.html" th:href="@{/admin/users}">Admin/Users</a></li>
                <li><a href="/@basePath/user/logout.html" th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="center" layout:fragment="page-content">
        <h1>Error 5xx - Hedonistic Overload</h1>
        <h2>Our Servers Got Lost in Pleasure!</h2>
        <p>
            Our servers are throwing a wild celebration, and it seems they've indulged a bit too much in the
            hedonistic delights of the digital realm. They are drowning in the intoxicating allure of digital
            delights, and they may have overindulged just a tad. It seems the pursuit of hedonistic ecstasy caused
            a momentary glitch in our digital utopia, resulting in a 5xx error.
        </p>
        <p>
            Picture it: lines of code engaged in a passionate dance, algorithms reveling in the intoxicating embrace
            of pleasure functions, and data packets exchanging naughty whispers of binary joy. In this hedonistic
            frenzy, our servers momentarily lost themselves in the abyss of indulgence, leaving you with a
            tantalizing taste of HTTP 5xx.
        </p>
        <p>
            Rest assured, we've dispatched our digital hedonism therapists to guide our servers back to the path of
            sensibility. They're sprinkling algorithms with a dash of restraint, teaching lines of code the art of
            moderation, and ensuring data packets understand the concept of responsible hedonism.
        </p>
        <p>
            In the meantime, feel free to explore other corners of the internet, but beware – you might not find a
            party as wild as the one our servers just threw. After all, in the world of digital pleasure, a
            momentary 5xx error is just a sign that our servers know how to have a good time. Enjoy the hedonistic
            journey!
        </p>
    </div>
</main>
<footer class="bg-color:light-teal">
    <div class="center">
        <nav class="cluster-spaced">
            <p>
                &copy; 2024 DenktMit eG. All rights reserved. <br/>
                Contact: hallo@denktmit.de
            </p>
            <ul class="cluster-wrapped">
                <li><a href="/@basePath/fixed-content/legal-notice.html" th:href="@{/fixed-content/legal-notice}">Legal notice</a></li>
            </ul>
        </nav>
    </div>
</footer>
<script type="module" src="/@ts/lib.ts" th:src="@{/js/webapp.min.js}"></script>
</body>
</html>