<!doctype html>
<html lang="en" data-bs-theme="dark" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="icon" href="/img/favicon.svg">
    <link rel="stylesheet" href="/@css/webapp.css" th:href="@{/css/webapp.min.css}"/>
</head>
<body>
<header class="bg-color:dark-petrol">
    <div class="center">
        <nav class="cluster-spaced">
            <img src="/img/logo.svg" alt="Das DenktMit eG Signet mit Firmenname"/>
            <ul class="cluster-wrapped">
                <li><a href="/@basePath/index.html" th:href="@{/}">Home</a></li>
                <li><a href="/@basePath/every-layout/index.html" th:href="@{/every-layout/index}">Every Layout</a></li>
                <li><a href="/@basePath/admin/users.html" th:href="@{/admin/users}">Admin/Users</a></li>
                <li><a href="/@basePath/user/logout.html" th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <wicket:extend>
        <div wicket:id="content">
            <hgroup>
                <h1>Legal Notice</h1>
                <p>Please address general contact inquiries to hallo@denktmit.de.</p>
                <p>The following legal notice was designed in accordance with § 5 TMG.</p>
            </hgroup>
            <article>
                <h2>DenktMit Webapp Contentpage</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel ligula vel justo feugiat elementum.
                    Nulla
                    facilisi. Vivamus eget urna nec velit bibendum cursus.
                </p>
                <p>
                    Sed tincidunt justo a consectetur ultrices. In hac habitasse platea dictumst. Integer id orci vel neque
                    feugiat lacinia. Sed auctor, felis nec suscipit fermentum, sem augue convallis lectus, non feugiat
                    ligula
                    urna vel libero.
                </p>
                <p>
                    Ut suscipit pharetra purus, vel fringilla nunc aliquet vel. Duis in dapibus ex. Nunc fermentum quam id
                    quam
                    eleifend, ac gravida sem ultrices. In at odio nec justo commodo condimentum. Sed vel odio vitae purus
                    hendrerit sodales vel nec justo.
                </p>
                <p>
                    Vestibulum bibendum libero vel nisi consectetur, a ultricies metus blandit. Donec consequat mauris eu
                    posuere sagittis.
                </p>
            </article>
        </div>
    </wicket:extend>
</main>
<footer class="bg-color:light-teal">
    <div class="center">
        <nav class="cluster-spaced">
            <p>
                &copy; 2024 DenktMit eG. All rights reserved. <br/>
                Contact: hallo@denktmit.de
            </p>
            <ul class="cluster-wrapped">
                <li><a href="/@basePath/fixed-content/legal-notice.html" th:href="@{/fixed-content/legal-notice}">Legal
                    notice</a></li>
            </ul>
        </nav>
    </div>
</footer>
<script type="module" src="/@ts/lib.ts" th:src="@{/js/webapp.min.js}"></script>
</body>
</html>
