:root {
    --ratio: 1.3;
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --measure: 60ch;
    --measure-double: calc(var(--measure) * 2);
    --measure-half: calc(var(--measure) / 2);
    --color-blue: #1a69e9;
    --color-dark-petrol: #00353e;
    --color-light-green: #97f8bf;
    --color-light-teal: #71d5da;
    --color-lightest-green: #bafdde;
    --color-petrol: #13343d;
    --color-pink: #ff6478;
    --color-yellow: #fdc53d;
}

* {
    box-sizing: border-box;
    font-size: calc(1rem + 0.2vw);
    max-inline-size: var(--measure);
    overflow-wrap: break-word;
}

html,
body,
div,
header,
nav,
main,
footer,
article {
    max-inline-size: none;
}

body {
    background-color: var(--color-lightest-green);
    margin: 0;
}

section > p + a {
    background-color: var(--color-pink);
    border-radius: 2em;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 3em;
    text-align: center;
    text-transform: uppercase;
}

.bg-color\:white {
    background-color: white;
}

.bg-color\:petrol {
    background-color: var(--color-petrol);
}
