:root {
    --ratio: 1.3;
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --color-blue: #1a69e9;
    --color-dark-petrol: #00353e;
    --color-light-green: #97f8bf;
    --color-light-teal: #71d5da;
    --color-lightest-green: #bafdde;
    --color-petrol: #13343d;
    --color-pink: #ff6478;
    --color-yellow: #fdc53d;
    --measure-double: calc(var(--measure) * 2);
    --measure-half: calc(var(--measure) / 2);
    --measure: 60ch;
    --sidebar-gap: 1.5rem;
    --xImg: 16;
    --yImg: 9;
}

* {
    box-sizing: border-box;
    max-inline-size: var(--measure-double);
    overflow-wrap: break-word;
}

html,
body,
div,
header,
nav,
main,
footer,
article {
    max-inline-size: none;
}

.side-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sidebar-gap);
    min-height: 100vh;
}

.sidebar {
    flex-grow: 1;
    flex-basis: 15rem; /* desired with of sidebar by default */
    border-right: 3px solid black;
}

.sidebar-content-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.sidebar-content-wrapper > h2 {
    padding: 1rem 2rem;
    font-size: 2.8rem;
    text-decoration: underline;
}

.sidebar-content-wrapper > ul {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    font-size: 1.2em;
}

.sidebar-content-wrapper > ul > li:first-child {
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1.7em;
    cursor: auto !important;
}

.sidebar-content-wrapper > ul > li {
    font-weight: bold;
    padding: 0 2rem;
    cursor: pointer;
    font-size: 1.2em;
}

.content {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 60%; /* percentage of horizontal break point */

}

.center {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--measure);
    display: flex;
    flex-direction: column;
}

.center > h1 {
    font-size: 6rem;
    text-transform: capitalize;
    padding: 0 0 1.5rem 0;
}

.center > h2 {
    font-size: 3rem;
    font-weight: bolder;
    text-transform: capitalize;
    padding: 0 0 .5rem 0;
}

.center > p {
    font-size: 1.5rem;
    padding: 0 0 3rem 0;
}

.frame {
    aspect-ratio: var(--xImg) / var(--yImg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 2rem 0;
}

.frame > img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.grid {
    display: grid;
    grid-gap: 4rem 0;
    padding: 0 0 2rem 0;
}

.grid>div:nth-child(odd){
    background-color: black;
}

.grid > div {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

@supports (width: min(250px, 100%)) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    }
}

