h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    color: var(--color-dark-petrol);
}

h6 {
    font-size: var(--s0);
}

h5 {
    font-size: var(--s1);
}

h4 {
    font-size: var(--s2);
}

h3 {
    font-size: var(--s3);
}

h2 {
    font-size: var(--s4);
}

h1 {
    font-size: var(--s5);
}
